<app-voting [kerdes]=question [people]="people"></app-voting>

<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<div class="container-fluid>">
  <div class="row">
    <h4><{{title}}/h4>
    <div class="col-md-6">
    
    </div>
    <div class="col-md-6">
      <table>
        <tr>
          <th>Name</th>
          <th>Name</th>
          <th>Name</th>

        </tr>
        <tr "ngfor="let person of people">
          <td>{{person name}}</td>
          <td>{{person age}}</td>
          <td>{{person color}}</td>
          <button class="btn btn.primary"(click)="removeLastElement()">Click</button>
        </tr>
      </table>
    
    </div>
  </div>
</div>
